
footer{
    background-color: var(--mainColor);
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    padding: .5em;
    size: 1%;
}


/*.container{
    width: 99%;
    margin: 0 auto;;

}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 0.5em 0;
}
.listItem{
    margin-left: 2em;
    color: #d0d8ff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Avenir', sans-serif;

}

.active{
    color: #00ffe5;
    border-bottom: .1em double #00ffe5;
    
}
.icon{
    color: #d0d8ff;
}

/*media queries*/
/*@media screen and {
    
}*/